.appWrapper {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

.mainContainer {
  display: flex; 
  flex-grow: 1; 
}

.contentWrapper {
  flex-grow: 1; 
  background-color: #F8F9FA; 
  overflow-y: auto; 
}

.mainContent {
  padding: 40px 20px; 
}
@media screen and (min-width: 768px) {
    .mainContent {
  padding: 32px; 
}
}
@media screen and (min-width: 1440px) {
        .mainContent {
  padding: 21px 40px; 
}
}

