.box {
  max-width: 1280px;
  background: #fff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
}

.tableTitle,
.css-1fcnpbm-MuiTypography-root {
  background-color: #e7f1ed;
  padding: 20px;
  border: 0px solid rgba(29, 30, 33, 0.08);
  border-radius: 8px 8px 0 0;
  height: 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #1d1e21;
}

.photoAndName {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.tableRow {
  height: 58px;
}

@media screen and (min-width: 768px) {
  .tableRow {
    height: 72px;
  }
}