.box {
  max-width: 1280px;
  background: var(--background-3);
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
}

.tableTitle, .css-1fcnpbm-MuiTypography-root {
  background-color: var(--background);
  padding: 14px;
  border: 0px solid rgba(29, 30, 33, 0.08);
  border-radius: 8px 8px 0 0;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-black);
}

.photoAndName {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 8px;  
}

.tableRow {
  height: 58px;
}
.actions{
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.actionBtn{
  background-color: transparent;
  cursor: pointer;  
border-radius: 30px;
padding: 8px;
width: 32px;
height: 32px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3ms ease-in;
}
.actionBtn.updBtnWithText{
  border: 1px solid rgba(89, 177, 122, 0.5);
border-radius: 30px;
padding: 8px 17px;
width: fit-content;
height: 34px;
display: flex;
flex-direction: row;
gap: 4px;
color: var(--accent);
line-height: 1.125;
}
.actionBtn:hover{
  transform: scale(1.1);
}
.updBtn{
  border: 1px solid var(--accent);
}
.delBtn{
  border: 1px solid var(--accent-2);
}
.updBtn .icon{
  stroke: var(--accent);
  fill: none;
}
.delBtn .icon{
  stroke: var(--accent-2);
  fill: none;
}

@media screen and (min-width: 768px) {
  .tableRow {
    height: 72px;
  }
  .photoAndName {  
  flex-direction: row;
  align-items: center;
  }
  .photo{
    width: 36px;
    height: 36px;
  }
}